<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tj.springcloud.order.mapper.OrderMapper">

    <sql id="Base_Data_Select">

        ID as id ,
        `TIME` as `time` ,
        USERID as userid
    </sql>
</mapper>