<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tj.springcloud.goods.mapper.GoodsMapper">


    <!--更新商品库存 -->
    <update id="decreaseStock" parameterType="StockVo">
        UPDATE tb_goods SET stock = #{newStock} WHERE ID = #{id} AND stock = #{oldStock}

    </update>

</mapper>