<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tj.springcloud.goods.mapper.TbBrandMapper">

    <sql id="Base_Data_Select">
		ID as id ,
				NAME as name ,
				IMAGE as image ,
				LETTER as letter
	</sql>

    <!-- 查询列表 -->
    <select id="findBrandListForPage" resultType="TbBrand"
            parameterType="TbBrandPage">
        SELECT
        <include refid="Base_Data_Select"/>
        FROM tb_brand WHERE 1 = 1
        <if test="null != name and '' != name">
            AND NAME  LIKE CONCAT('%',#{name},'%')
        </if>
        ORDER BY ID

    </select>

</mapper>   
